*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 400px){
    body{
        font-size: 14px;
    }
}

@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

@media (min-width: 1200px){
    body{
        font-size: 20px;
    }
}

@media (min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px){
    .portfolio .grid{
        grid-template-columns: repeat(2, 260px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 4em - 48px - 1.5em);
    }
}

@media (min-width: 1200px){
    .img-portfolio{
        height: auto;
        width: 100%;
    }
    }